<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>909968784014-r6vrnc4lcvlomprde36vu7deeeake2j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909968784014-r6vrnc4lcvlomprde36vu7deeeake2j7</string>
	<key>API_KEY</key>
	<string>AIzaSyBVa7ywXS-sPyAKsDCLjCO3QZtTAvLnBo8</string>
	<key>GCM_SENDER_ID</key>
	<string>909968784014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Edvaldo-Junior.SpiritPets</string>
	<key>PROJECT_ID</key>
	<string>spirit-pets</string>
	<key>STORAGE_BUCKET</key>
	<string>spirit-pets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:909968784014:ios:b5e20052f4404bbb</string>
	<key>DATABASE_URL</key>
	<string>https://spirit-pets.firebaseio.com</string>
</dict>
</plist>